## Import libraries

In [4]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Upload Data Base

In [2]:
df = pd.read_csv(r'base_pubs.csv')

In [3]:
df.shape

(208012, 7)

In [4]:
df.columns

Index(['CTLG_PROD_ID', 'SIT_SITE_ID', 'ITE_ITEM_ID', 'ITE_BASE_CURRENT_PRICE',
       'ITE_STATUS', 'CAT_CATEG_ID_L7', 'CAT_CATEG_ID_L1'],
      dtype='object')

In [5]:
df.head()

,CTLG_PROD_ID,SIT_SITE_ID,ITE_ITEM_ID,ITE_BASE_CURRENT_PRICE,ITE_STATUS,CAT_CATEG_ID_L7,CAT_CATEG_ID_L1
0,15914455.0,MLB,1730834725,209.80,active,196208,1000
1,NaN,MLB,1932231953,80.50,active,1672,1648
2,16255367.0,MLB,1940727918,77.31,active,6777,1648
3,14727339.0,MLB,1756695472,13.38,active,1714,1648
4,6084026.0,MLB,1900682550,28.39,active,186456,1144

In [6]:
df.dtypes

CTLG_PROD_ID              float64
SIT_SITE_ID                object
ITE_ITEM_ID                 int64
ITE_BASE_CURRENT_PRICE    float64
ITE_STATUS                 object
CAT_CATEG_ID_L7             int64
CAT_CATEG_ID_L1             int64
dtype: object

## Drop NaN rows

In [7]:
countNaN = df['CTLG_PROD_ID'].isna().sum()
countNaN

3277

In [8]:
df.dropna(subset = ['CTLG_PROD_ID'], inplace=True)

In [9]:
countNaN = df['CTLG_PROD_ID'].isna().sum()
countNaN

0

## Change data type

In [10]:
df['CTLG_PROD_ID']=df['CTLG_PROD_ID'].astype('int')

In [11]:
df['CTLG_PROD_ID'].dtypes

dtype('int64')

## Describe of the prices of the products

In [12]:
gb=df.groupby(['CTLG_PROD_ID'])
df_d=gb['ITE_BASE_CURRENT_PRICE'].describe()
df_d

,count,mean,std,min,25%,50%,75%,max
CTLG_PROD_ID,,,,,,,,
633,1.0,66.890000,NaN,66.89,66.89,66.89,66.890,66.89
5020,1.0,43.910000,NaN,43.91,43.91,43.91,43.910,43.91
11438,1.0,931.850000,NaN,931.85,931.85,931.85,931.850,931.85
101022,1.0,432.520000,NaN,432.52,432.52,432.52,432.520,432.52
802465,27.0,153.065556,18.054667,131.70,141.94,148.65,156.525,201.61
...,...,...,...,...,...,...,...,...
18209455,13.0,598.552308,195.217031,362.71,362.71,643.31,710.210,1008.65
18209881,1.0,248.630000,NaN,248.63,248.63,248.63,248.630,248.63
18213136,1.0,187.130000,NaN,187.13,187.13,187.13,187.130,187.13
18217813,3.0,192.546667,38.656023,163.02,170.67,178.32,207.310,236.30
18235364,5.0,44.490000,6.717418,38.53,39.18,43.70,45.860,55.18

## Drop rows with NaN std

In [13]:
countNaN = df_d['std'].isna().sum()
countNaN

2930

In [14]:
df_d.dropna(subset = ['std'], inplace=True)

In [15]:
countNaN = df_d['std'].isna().sum()
countNaN

0

## Reset the index

In [16]:
df_d=df_d.reset_index()

In [17]:
df_d.head()

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max
0,802465,27.0,153.065556,18.054667,131.70,141.940,148.65,156.525,201.61
1,802499,11.0,63.684545,7.481744,49.25,63.455,67.19,67.190,70.14
2,802500,9.0,75.371111,7.870711,60.67,70.600,77.27,81.440,83.46
3,802523,33.0,44.114545,7.164920,31.19,38.640,45.46,47.610,60.94
4,802544,47.0,106.392979,20.900336,74.61,97.760,99.40,109.840,181.78

In [18]:
df_d.shape

(10663, 9)

## Export the products IDs

In [19]:
#ID=df_d['CTLG_PROD_ID']
#ID.to_csv(r'products_id.csv', index = False)

## Upload of orders data base

In [20]:
df_or = pd.read_csv(r'orders_prod_id.csv')

In [21]:
df_or.shape

(806506, 10)

In [22]:
df_or.columns

Index(['ORD_ORDER_ID', 'ITE_ITEM_ID', 'CTLG_PROD_ID', 'flag_bad_user',
       'is_buybox', 'has_bpp', 'has_claim_seller', 'is_refund', 'GMV_USD',
       'bpp_cashout_final'],
      dtype='object')

In [23]:
df_or.dtypes

ORD_ORDER_ID           int64
ITE_ITEM_ID            int64
CTLG_PROD_ID           int64
flag_bad_user          int64
is_buybox              int64
has_bpp                int64
has_claim_seller       int64
is_refund            float64
GMV_USD              float64
bpp_cashout_final    float64
dtype: object

In [24]:
df_or.sample(5)

,ORD_ORDER_ID,ITE_ITEM_ID,CTLG_PROD_ID,flag_bad_user,is_buybox,has_bpp,has_claim_seller,is_refund,GMV_USD,bpp_cashout_final
160257,4548366648,1600451640,9488665,0,0,0,0,0.0,12.62,0.0
146461,4572480276,1858159245,6239418,0,1,0,0,0.0,149.33,0.0
470973,4560605834,1808465592,16951108,0,1,0,0,0.0,199.13,0.0
448206,4552306314,1614436800,11136916,0,1,0,0,0.0,23.92,0.0
185164,4595620238,1883400955,16211423,0,1,0,0,0.0,25.58,0.0

## Join the DFs by Product ID

In [25]:
df_f = pd.merge(left = df_d, right = df_or,
                how = 'inner',
                left_on='CTLG_PROD_ID', right_on='CTLG_PROD_ID')

In [26]:
df_f.shape

(806506, 18)

In [27]:
df_f.columns

Index(['CTLG_PROD_ID', 'count', 'mean', 'std', 'min', '25%', '50%', '75%',
       'max', 'ORD_ORDER_ID', 'ITE_ITEM_ID', 'flag_bad_user', 'is_buybox',
       'has_bpp', 'has_claim_seller', 'is_refund', 'GMV_USD',
       'bpp_cashout_final'],
      dtype='object')

In [28]:
df_f.sample(5)

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max,ORD_ORDER_ID,ITE_ITEM_ID,flag_bad_user,is_buybox,has_bpp,has_claim_seller,is_refund,GMV_USD,bpp_cashout_final
550218,15912271,4.0,558.985000,111.685674,419.98,494.800,574.76,638.945,666.44,4590393500,1689813033,0,1,0,0,0.0,546.70,0.0
603801,15984003,77.0,71.754026,8.213587,58.96,70.770,71.03,74.650,114.67,4581008947,1883031524,0,1,0,0,0.0,60.76,0.0
385609,15257472,29.0,21.582759,9.554278,11.87,14.890,18.07,26.150,50.78,4538383569,1691805336,0,0,0,0,0.0,14.79,0.0
449867,15471717,27.0,74.837037,144.466065,40.17,43.555,46.08,49.540,797.20,4603669116,1884979644,0,1,0,0,0.0,45.52,0.0
463902,15570789,2.0,32.520000,0.000000,32.52,32.520,32.52,32.520,32.52,4583440078,1627562634,0,1,0,0,0.0,28.38,0.0

## Create columns flag low_price for those items with price below 25% and 50%

In [29]:
df_f['Low25_Price'] = df_f.apply(lambda x: 1 if x['25%'] >= x['GMV_USD'] else 0, axis=1)

In [30]:
df_f['Low50_Price'] = df_f.apply(lambda x: 1 if x['50%'] >= x['GMV_USD'] else 0, axis=1)

In [31]:
df_f.sample(5)

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max,ORD_ORDER_ID,ITE_ITEM_ID,flag_bad_user,is_buybox,has_bpp,has_claim_seller,is_refund,GMV_USD,bpp_cashout_final,Low25_Price,Low50_Price
800324,17806731,44.0,22.441818,21.380912,2.28,3.7750,18.615,35.660,60.62,4550306669,1872082483,0,0,0,0,0.0,51.99,0.0,0,0
47721,6121297,72.0,85.080556,118.072867,37.99,54.9750,68.030,81.070,1054.76,4589856034,1562811951,0,1,0,0,0.0,45.64,0.0,1,1
168550,8019979,11.0,87.200909,142.211125,28.44,38.2950,47.340,53.815,515.24,4541858899,1853108457,0,1,0,0,0.0,30.88,0.0,1,1
749488,16995137,5.0,4.094000,1.198282,3.17,3.3800,3.780,3.980,6.16,4580810397,1871437843,0,1,0,0,0.0,3.78,0.0,0,1
324545,14682774,34.0,326.411765,282.600523,133.58,169.4825,176.370,373.590,1562.78,4561812016,1830040927,0,0,0,0,0.0,457.80,0.0,0,0

In [ ]:
##########################################

## Upload Data Base

In [5]:
df_ord = pd.read_csv(r'base_publicaciones.csv')

In [6]:
df_ord.shape

(869470, 10)

In [7]:
df_ord.columns

Index(['ORD_ORDER_ID', 'ITE_ITEM_ID', 'CTLG_PROD_ID', 'ITE_BASE_CURRENT_PRICE',
       'flag_bad_user', 'is_buybox', 'has_bpp', 'has_claim_seller',
       'is_refund', 'bpp_cashout_final'],
      dtype='object')

In [8]:
df_ord.head()

,ORD_ORDER_ID,ITE_ITEM_ID,CTLG_PROD_ID,ITE_BASE_CURRENT_PRICE,flag_bad_user,is_buybox,has_bpp,has_claim_seller,is_refund,bpp_cashout_final
0,4577317619,1718794438,10608114,10.66,0,0,0,0,0.0,0.0
1,4542724158,1855945942,15305518,20.32,0,1,0,0,0.0,0.0
2,4603385249,1899937971,6078534,3.33,0,1,0,0,0.0,0.0
3,4588423792,1658897376,14214635,34.45,0,1,0,0,0.0,0.0
4,4546930678,1743613950,15786116,23.54,0,1,0,0,0.0,0.0

In [9]:
df_ord.dtypes

ORD_ORDER_ID                int64
ITE_ITEM_ID                 int64
CTLG_PROD_ID                int64
ITE_BASE_CURRENT_PRICE    float64
flag_bad_user               int64
is_buybox                   int64
has_bpp                     int64
has_claim_seller            int64
is_refund                 float64
bpp_cashout_final         float64
dtype: object

## Describe of the prices of the products

In [10]:
df_prod = df_ord[['CTLG_PROD_ID','ITE_ITEM_ID','ITE_BASE_CURRENT_PRICE']]

In [11]:
df_prod.sample(5)

        CTLG_PROD_ID  ITE_ITEM_ID  ITE_BASE_CURRENT_PRICE
510069      16998054   1864667169                  246.05
274083      15949974   1878386950                  167.91
154650      15162780   1867791218                  402.83
425402      14661340   1880222549                   96.42
570679      16368722   1699762574                   12.63

In [12]:
df_prod.shape

(869470, 3)

In [13]:
gb=df_prod.groupby(['CTLG_PROD_ID'])
df_des=gb['ITE_BASE_CURRENT_PRICE'].describe()
df_des

,count,mean,std,min,25%,50%,75%,max
CTLG_PROD_ID,,,,,,,,
633,2.0,47.590000,1.183697e+01,39.22,43.4050,47.590,51.7750,55.96
5020,22.0,44.903636,4.364103e+00,42.09,42.5025,44.020,44.4025,57.98
802465,51.0,87.916471,6.482665e+01,7.83,7.8300,133.770,140.2100,156.84
802499,7.0,47.891429,1.512552e+00,47.02,47.0200,47.080,48.1650,50.77
802500,2.0,63.605000,1.248043e+01,54.78,59.1925,63.605,68.0175,72.43
...,...,...,...,...,...,...,...,...
18185023,4.0,88.860000,4.180000e+00,86.77,86.7700,86.770,88.8600,95.13
18186809,3.0,120.853333,1.144490e+01,109.22,115.2300,121.240,126.6700,132.10
18209455,40.0,588.700000,4.605405e-13,588.70,588.7000,588.700,588.7000,588.70
18217813,1.0,197.380000,NaN,197.38,197.3800,197.380,197.3800,197.38
18235364,1.0,40.200000,NaN,40.20,40.2000,40.200,40.2000,40.20

## Drop rows with NaN std

In [14]:
countNaN = df_des['std'].isna().sum()
countNaN

1073

In [15]:
df_des.dropna(subset = ['std'], inplace=True)

In [16]:
countNaN = df_des['std'].isna().sum()
countNaN

0

## Reset the index

In [17]:
df_des=df_des.reset_index()

In [18]:
df_des.head()

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max
0,633,2.0,47.590000,11.836968,39.22,43.4050,47.590,51.7750,55.96
1,5020,22.0,44.903636,4.364103,42.09,42.5025,44.020,44.4025,57.98
2,802465,51.0,87.916471,64.826648,7.83,7.8300,133.770,140.2100,156.84
3,802499,7.0,47.891429,1.512552,47.02,47.0200,47.080,48.1650,50.77
4,802500,2.0,63.605000,12.480435,54.78,59.1925,63.605,68.0175,72.43

In [19]:
df_des.shape

(8482, 9)

## Join the DFs by Product ID

In [20]:
df = pd.merge(left = df_des, right = df_ord,
                how = 'inner',
                left_on='CTLG_PROD_ID', right_on='CTLG_PROD_ID')

In [21]:
df.shape

(868397, 18)

In [22]:
df.columns

Index(['CTLG_PROD_ID', 'count', 'mean', 'std', 'min', '25%', '50%', '75%',
       'max', 'ORD_ORDER_ID', 'ITE_ITEM_ID', 'ITE_BASE_CURRENT_PRICE',
       'flag_bad_user', 'is_buybox', 'has_bpp', 'has_claim_seller',
       'is_refund', 'bpp_cashout_final'],
      dtype='object')

In [23]:
df.sample(5)

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max,ORD_ORDER_ID,ITE_ITEM_ID,ITE_BASE_CURRENT_PRICE,flag_bad_user,is_buybox,has_bpp,has_claim_seller,is_refund,bpp_cashout_final
670173,16051360,280.0,46.024143,8.524927,41.20,45.13,45.13,45.13,113.16,4539814126,1364800241,50.53,0,0,0,0,0.0,0.0
582374,15915536,1049.0,49.535481,1.999287,32.51,49.03,49.46,49.46,74.82,4574610650,1839643076,48.88,0,0,0,0,0.0,0.0
170014,8054615,57.0,24.474912,3.327438,18.18,22.38,22.68,25.35,31.77,4549991039,1639289825,22.38,0,0,0,1,0.0,0.0
292075,13841393,7850.0,48.487200,4.909094,43.14,45.13,48.29,49.05,250.02,4601964784,1858675774,45.13,0,1,0,0,0.0,0.0
130698,6408981,17962.0,53.589554,6.892285,34.07,50.64,52.02,54.17,375.73,4601507872,1398573776,54.17,0,1,0,0,0.0,0.0

## Create columns flag low_price for those items with price below 25% and 50%

In [24]:
df['Low25_Price'] = df.apply(lambda x: 1 if x['25%'] >= x['ITE_BASE_CURRENT_PRICE'] else 0, axis=1)

In [25]:
df['Low50_Price'] = df.apply(lambda x: 1 if x['50%'] >= x['ITE_BASE_CURRENT_PRICE'] and x['25%'] < x['ITE_BASE_CURRENT_PRICE'] else 0, axis=1)

## Create column flag high_price for those items with price over 75%

In [26]:
df['High75_Price'] = df.apply(lambda x: 1 if x['75%'] <= x['ITE_BASE_CURRENT_PRICE'] else 0, axis=1)

In [27]:
df.sample(5)

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max,ORD_ORDER_ID,...,ITE_BASE_CURRENT_PRICE,flag_bad_user,is_buybox,has_bpp,has_claim_seller,is_refund,bpp_cashout_final,Low25_Price,Low50_Price,High75_Price
691668,16107489,4415.0,136.018242,20.831566,113.66,125.1100,125.11,136.440,198.60,4565255476,...,125.11,0,1,1,1,1.0,0.0,1,0,0
183441,8752429,640.0,394.095875,46.222926,153.20,362.5900,376.61,410.070,609.26,4599595779,...,365.40,0,0,0,0,0.0,0.0,0,1,0
172960,8370241,6.0,100.403333,10.732891,91.00,93.2425,99.97,100.075,120.37,4585162771,...,91.00,0,0,0,0,0.0,0.0,1,0,0
298816,13953199,431.0,202.559072,10.389718,126.36,204.1600,204.16,204.160,289.53,4544243296,...,204.16,0,1,0,0,0.0,0.0,1,0,1
126082,6408981,17962.0,53.589554,6.892285,34.07,50.6400,52.02,54.170,375.73,4608714521,...,49.08,0,1,0,0,0.0,0.0,1,0,0

## Order weight on products

In [28]:
df['weight'] = 1/df[['count']]

In [29]:
df.sample(5)

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max,ORD_ORDER_ID,...,flag_bad_user,is_buybox,has_bpp,has_claim_seller,is_refund,bpp_cashout_final,Low25_Price,Low50_Price,High75_Price,weight
679262,16069877,517.0,196.265938,13.989321,174.31,186.75,195.20,200.34,380.32,4558840225,...,0,1,0,0,0.0,0.0,0,0,1,0.001934
385944,15199736,294.0,82.802857,7.293548,70.27,85.19,85.98,86.35,98.30,4589018410,...,0,1,0,0,0.0,0.0,1,0,0,0.003401
847555,17509976,255.0,332.548745,12.550821,323.70,323.70,323.89,339.40,400.70,4535164084,...,0,0,0,0,0.0,0.0,0,0,1,0.003922
857264,17803706,527.0,104.412846,28.338571,63.17,76.54,123.47,123.47,158.81,4536231046,...,0,0,0,0,0.0,0.0,0,1,1,0.001898
99276,6316596,22.0,127.487727,19.858848,117.10,117.10,117.10,117.10,169.29,4566510663,...,0,0,0,0,0.0,0.0,1,0,1,0.045455

In [30]:
df.columns

Index(['CTLG_PROD_ID', 'count', 'mean', 'std', 'min', '25%', '50%', '75%',
       'max', 'ORD_ORDER_ID', 'ITE_ITEM_ID', 'ITE_BASE_CURRENT_PRICE',
       'flag_bad_user', 'is_buybox', 'has_bpp', 'has_claim_seller',
       'is_refund', 'bpp_cashout_final', 'Low25_Price', 'Low50_Price',
       'High75_Price', 'weight'],
      dtype='object')

## Bad orders

In [31]:
df['bad_order'] = df.apply(lambda x: 1 if x['flag_bad_user'] == 1 or x['has_bpp'] == 1 or x['has_claim_seller'] == 1 or x['is_refund'] == 1 or x['bpp_cashout_final'] > 0 else 0, axis=1)

In [32]:
df.sample(5)

,CTLG_PROD_ID,count,mean,std,min,25%,50%,75%,max,ORD_ORDER_ID,...,is_buybox,has_bpp,has_claim_seller,is_refund,bpp_cashout_final,Low25_Price,Low50_Price,High75_Price,weight,bad_order
181437,8752191,2368.0,29.207276,2.127505,15.96,28.07,28.37,30.7900,43.34,4553566519,...,1,0,0,0.0,0.00,0,0,0,0.000422,0
680965,16081132,142.0,176.202113,8.887107,161.85,173.27,173.27,183.5500,209.58,4595565530,...,1,0,0,0.0,0.00,1,0,0,0.007042,0
47385,6120049,342.0,16.230175,4.857843,1.87,13.87,13.87,15.7000,32.50,4576657746,...,1,1,1,1.0,46.65,1,0,0,0.002924,1
640550,15984003,4690.0,60.440322,4.632960,46.25,56.67,60.48,62.7500,158.68,4589926231,...,1,0,0,0.0,0.00,0,0,0,0.000213,0
250196,11211695,18.0,538.898333,18.472132,531.04,531.04,531.04,537.4825,588.88,4563108795,...,1,0,0,0.0,0.00,1,0,0,0.055556,0

In [33]:
df.columns

Index(['CTLG_PROD_ID', 'count', 'mean', 'std', 'min', '25%', '50%', '75%',
       'max', 'ORD_ORDER_ID', 'ITE_ITEM_ID', 'ITE_BASE_CURRENT_PRICE',
       'flag_bad_user', 'is_buybox', 'has_bpp', 'has_claim_seller',
       'is_refund', 'bpp_cashout_final', 'Low25_Price', 'Low50_Price',
       'High75_Price', 'weight', 'bad_order'],
      dtype='object')

## Export the products IDs

In [ ]:
#ID=df['CTLG_PROD_ID']
#ID.to_csv(r'products_id.csv', index = False)

In [ ]:
#LAMBDA CON AND
#df_ratios['extremos']= df_ratios.apply(lambda x: 'caso1' if x['ratio_recla_1m']> 0.3 and x['ratio_cashout_1m']> 0.3 and x['ratio_ref_1m']> 0.3 and x['ratio_claims_1m']> 0.3 else 'no',axis=1)

In [ ]:
#LAMDA CON IF ANIDADO
#df['adicionales']= df.apply(lambda x: 'caso1' if x['gmv_90d']<= 0 else('caso2' if  x['gmv_30d']<=0  else 'no'),axis=1)